body {
  text-align: center;
  background-color: #A7BBC7;
}

footer {
  color: #26001B;
  font-family: 'Lobster', cursive;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: black;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #F3C583;
}

.green {
  background-color: #E99497;
}

.blue {
  background-color: #B3E283;
}

.yellow {
  background-color: #E8E46E;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}